*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}	

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 8vh;
	background-color: #444444;
	font-family: 'Indie Flower', cursive;
	padding: 30px 10%;
	
}	

.logo{
	color: white;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 50px;
	cursor: pointer;
	
	
	
}
.nav-links a{
	display: inline;
	justify-content: space-between;
	width: 40%;
	color: white;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 20px;	
}

.nav-links li{
	list-style: none;
	display: inline-block;
	justify-content: space-between;
	padding: 0px 20px;
}

.nav-links a:hover{
	color:#0088a9;
}




